  	
		
		form{
			border:3px solid blue;
			width:525px;
			padding:15px;
			border-radius:1em;
		}
			
		#wrapper{
			position:relative;
			margin:auto;
			width:960px;
			height:800px;
			padding:10px;
		}
		
		.boxes{
			border-radius:5px;
		}
		
		.error{
			color:red;
		}
		
		.bad{
			border:3px solid red;
			border-radius:5px;
		}
		
		.good{
			border:3px solid green;
			border-radius:5px;
		}
